@model ExpenseTracker.Model.IncomeCategory

<h2>Are you sure you want to delete this category?</h2>

<html>
<head>
    <style>
        .btn-secondary{
            margin-top : 15px;
        }

        .btn-danger {
            margin-top: 15px;
        }
    </style>
</head>
<body>


<h3>@Model.CategoryName</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="IncomeCategoryID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<a asp-action="Index" class="btn btn-secondary" margin-top="30px">Back to List</a>
</body>
</html>